.jt-footer{
	color: #999;
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.jt-bt{border-top:1px solid #ccc;}

.jt-avatar-40{width:40px;height:40px;}
.jt-avatar-25{width:25px;height:25px;margin:3px 10px;}
.jt-wt-40{width:40px;}


.jt-details{
	margin: 8px 0 0;
	height: 22px;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.jt-summary{height:26px;}

.jt-ml-10{margin-left:10px;}
.jt-ml-45{margin-left:45px;}
.jt-mt-10{margin-top:10px;}
.jt-mt-15{margin-top:15px;}
.jt-mt-20{margin-top:20px;}
.jt-ml-48{margin-left:48px;}
.jt-ml-65{margin-left:65px;}
.jt-pl-10{padding-left:10px;}


.jt-color-f{color:#fff;}

.jt-sign-sina{
	display: inline-block;
	width: 21px;
	height: 19px;
	margin-right: 2px;
	vertical-align: -4px;
	background-position: -17px -1px;
}
.jt-sign-qq{
	display: inline-block;
	width: 16px;
	height: 18px;
	vertical-align: -2px;
	background-position: -90px 0;
}

.jt-sign{
	display: inline-block;
	background-image: url(../img/signup.png);
	background-repeat: no-repeat;
}
