.line-left{width:350px;height:600px;float:left;}
.line-top{margin:0 auto;height:100px;float:left;width:100%;}

.line-main{margin-top:100px;margin-left:348px;height:500px;}

.form-group{position: relative;}