body{
	background:url("../img/logbg.jpg") no-repeat 0 center;
	overflow:hidden;
	margin: 0;
	padding:0;
}

.jt-log-wrap{height:1080px;}

.jt-log-box{margin:200px auto;background:transparent;width: 300px;padding:20px;overflow:hidden;color:#fff;background:rgba(0,0,0,0.4);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#66000000',EndColorStr='#66000000')}
.jt-form{padding:20px 0 0;}

.jt-label-normal{font-weight: normal;}